body {background-color: #FFF;}
section>.narrow{background-color: #FFF;}
.header-bg{background-color: #84BFD3;}
.body-footer,.navbar-bg{background-color:#43818A;}

.bodytop{background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.8));}
.footer-bottom{background-color:#84BFD3; color:#fff;}

#mynavbar li>a {color:#305C62; background-color:#96CFD8;}
#mynavbar li>a:hover{ color:#fff; background-color:#305c62;}
#mynavbar li>a.active, #mynavbar li>a.active:hover, #mynavbar li>a.active:focus {
    color:#305C62; background-color: #fff;
}
	
.section-title{background-color: #84BFD3;}
.section-title h2{color: #fff;}

.blockquote{border-left-color:#305C62;}
blockquote p{color:#43818A;}
.blockquote footer{color:#56def3;}

.videobtnwrap,.exhibbtnwrap{color:#305C62; background: linear-gradient(to left, rgba(196,230,235,0) , rgba(196,230,235,1) , rgba(196,230,235,1));}
.videobtnwrap:hover,.exhibbtnwrap:hover,.exhibbtnwrap_clicked:hover,.videobtnwrap_clicked:hover{color:#fff; background: linear-gradient(to left, rgba(132,191,211,0), rgba(132,191,211,1), rgba(132,191,211,1)); cursor:pointer;}
.bi-play-circle{color:#fff}
.videobtnwrap:hover .bi-play-circle{color:#84BFD3;}
.thumb{background-color: #43818A;}
.exhibbtnwrap_clicked,.videobtnwrap_clicked{color:#305C62; background: linear-gradient(to left, rgba(201,211,213,0) , rgba(201,211,213,1) ,rgba(201,211,213,1));}
.subheader{color:#43818A;}
.opening-title h1,.case-authors,.case-title h1,.exhibit-close{color:#fff;}
.thumbtext{color:#fff;}
.footer-content{color:#fff;}
.modal-body{background: #fff}
.exhibit-content .modal-header,.exhibit-content .modal-footer{background-color: #84BFD3;  color:#fff}
.exhib-subheader {background-color: #43818A; color:#fff}

.footer-button:hover{cursor:pointer; background-color:#96CFD8;}
.footer-bottom a {text-decoration:none; color: #fff;}
.footer-bottom a:hover {color: #96CFD8;}
